<!DOCTYPE html>
<html>
    <head>
        <title>Show Articles</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'article/css/main.css' %}" type="text/css">
    </head>

    <body>
        <h1 align="center">Title: <strong>{{ title }}</strong></h1>
        <h5>Category: <strong>{{ category }}</strong></h5>
        <h5>Date&Time: <strong>{{ date }}</strong></h5>
        <br/>
        <h2>Content</h2>
            <strong>{{ content }}</strong>
    </body>
</html>